<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Book Nook</title>
    
    @* <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico"> *@

    <partial name="Layout/_Css" />

    @RenderSection("PageHeader", required: false)
</head>
@* <body> *@
 <body data-sidebar="dark">
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">
        <partial name="Layout/_Header" />
        <partial name="Layout/_Menu" />

        @* <div class="main-container"> *@
        <div class="main-content">
            <!-- start page title -->
            <div class="breadcrumb-title">
                <div class="card card-header shadow-sm">
                    <h4 class="mb-sm-0 font-size-18 py-1">@ViewBag.PageTitle</h4>
                </div>
            </div>
            <!-- end page title -->
           @*  <main role="main" class="pb-3">
                @RenderBody()
            </main> *@


            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <partial name="Layout/_Footer" />
        </div>
       @*  <div class="main-content">
            <!-- start page title -->
            <div class="breadcrumb-title">
                <div class="card card-header shadow-sm">
                    <h4 class="mb-sm-0 font-size-18 py-1">@ViewBag.PageTitle</h4>
                </div>
            </div>
            <!-- end page title -->
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <partial name="Layout/_Footer" />
        </div> *@
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JavaScriptLearingWithMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@

   @*  <partial name="Layout/_Footer" /> *@
    <partial name="Layout/_JS" />
   
    @* @await RenderSectionAsync("Scripts", required: false) *@
    @RenderSection("PageFooter", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>
